{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
<div>
    <h2>Sign Up</h2>
    {% for mess in message %}
    <p style="color: red">{{ mess }}</p>
    {% endfor %}
    <form method="post" action="{% url 'UserApp:Signup' %}">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit">Sign Up</button>
    </form>

    <p>Already have an account? <a href="{% url 'UserApp:Signin' %}">Sign In</a></p>
</div>
</body>
</html>
